.login-container {
  max-width: 400px;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 2px 8px #ccc;
  
}
input, button {
  width: 100%;
  margin: 0.5rem 0.5rem;
  
  /* padding: 1.0rem; */
  /* padding-right: 1rem; */
  border-radius: 8px;
  border: 1px solid #ccc;
}
.login-container input {
  
  padding-right:0.5px;
}

button {
  background: #7b5cff;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.error {
  color: #e74c3c;
  margin-top: 0.5rem;
} 